.App {
  text-align: center;
}

header.MuiPaper-root.MuiPaper-elevation.MuiPaper-elevation4.MuiAppBar-root.MuiAppBar-colorPrimary.MuiAppBar-positionFixed.mui-fixed.css-11b3ww9-MuiPaper-root-MuiAppBar-root {
  align-items: center;
  height: 80px;
  padding-top: 15px;
}
.add{
  margin-top: 200px;
  width: 80%;
    margin-left: 20%;
}
.MuiGrid-root.MuiGrid-grid-xs-3.css-1nv1o5k-MuiGrid-root {
  padding-right: 10px;
} 

